body {
    font-family: "Roboto", sans-serif;
}

body * {
    box-sizing: border-box;
}

li {
    list-style: none;
}


nav {
    
}
/* nav .product-cart-image {
    position: relative;
    font-size: 30px;
    color: #333;
    display: flex;
}

nav .product-cart-image .product-count {
    position: absolute;
    top: 0;
    border-radius: 50%;
    color: #ffff;
    line-height: 20px;
    text-align: center;
    display: none;
} */

.product-cart-button {
    display: flex;
    justify-self: end;
    cursor: pointer;
    border: none;
}

.product-close-modal {
    border: none;
    background: none;
    cursor: pointer;
}

.products {
    display: grid;
    gap: 2rem 1rem;
}

.product {
    display: flex;
    flex-direction: column;
}

.product-image {
    max-width: 100%;
    height: auto;
    transition: 0.5s;
}

.product-image:hover {
    transform: scale(1.1);
}

.product-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: auto;
}

.product-title {
    margin: 0 auto;
}

.product-price-and-qty {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-minus, .product-plus {
    background-color: black;
    border: none;
    box-shadow: none;
    color: white;
    outline: none;
    width: 30px;
    cursor: pointer;
}

.product-quantity {
    max-width: 60px;
    text-align: center;
}

.product-add {
    margin: 0 auto;
    cursor: pointer;
}
/*
Source - https://stackoverflow.com/a/4298216
Posted by antonj, modified by community. See post 'Timeline' for change history
Retrieved 2026-08-06, License - CC BY-SA 4.0
*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.product-minus, .product-plus, .product-quantity {
    height: 25px;
    max-height: 25px;
}

.product-add {
    background-color: black;
    border: none;
    box-shadow: none;
    color: white;
    outline: none;
    width: 100%;
    padding: 10px;
}

@media (min-width: 769px) {
    .products {
        grid-template-columns: repeat(3, minmax(0, 1fr));

    }
}